body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #555;
  font-size: 14px;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
td,
th,
caption {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #555962;
  border-radius: 10px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #555962;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: linear-gradient(90deg, #ffd594 2%, #fbe9c2);
}

.MyMsgBox {
  min-height: 302px;
  min-width: 586px;
  background: #292d36 !important;
  border-radius: 10px !important;
  border: transparent !important;
  box-shadow: 17px 11px 34px -17px rgba(0, 0, 0, 0.3) !important;
}

.MyMsgBox .el-message-box__header {
  border-bottom: 1px solid #3a3e48 !important;
  height: 30px !important;
}

.MyMsgBox .el-message-box__content {
  border-bottom: 1px solid #3a3e48 !important;
  height: 170px !important;
  color: #ffffff !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MyMsgBox .el-message-box__btns {
  text-align: center !important;
}

.MyMsgBox .el-message-box__btns .el-button {
  width: 124px;
  height: 36px;
  background: #30343d;
  border-radius: 28px;
  border: 1px solid #828282;
  font-size: 14px;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
  text-align: center;
  color: #d6d6d6;
  margin-right: 50px;
  margin-top: 8px;
}

.MyMsgBox .el-message-box__btns .el-button--primary {
  background: linear-gradient(90deg, #ffd594 2%, #fbe9c2);
  border: transparent !important;
  color: #3d170e;
  margin-left: 50px;
}
